# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. sql
4. JAVA
5. julia
6. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Matplotlib
4. Tensflow
5. scipy

- Numpy
- pandas
- Matplotlib
- Tensflow
- scipy

Table of Data Science tools
| Data Science Tools |
|----------|
| Hadoop |
| JupyterNote book |
| Apache Spark |

## introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__


##### we coverd some thing like use in data science i.e:
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* simple arithmetic expression to mutiply then add integers
* convert minutes into hour

## Author

Muhammad Danial Burfat